poolName=bacay_master
base=10
log=logs/bacay_primrose_master_pool_${yyyy-MM-dd}.log
idleTime=60000
logLevel=info,warn,error,crisis
#logLevel=verbose,info,warn,error,crisis
driverClass=com.mysql.jdbc.Driver
driverURL=jdbc:mysql://127.0.0.1:3306/gameonline
user=root
password=123456
killActiveConnectionsOverAge=120000
cycleConnections=100
queueConnectionRequests=true
waitForConnectionIfDatabaseIsDown=false
#checkSQL=select 1 from test
#runPooledMode=true
#encryptionFileKey=/usr/tomcat/conf/primrose.key
#connectionTransactionIsolation=TRANSACTION_READ_COMMITTED
#dumpConnectionOnSQLException=false
#adminEmail=joe@bloggs.com
#smtpMailExchangeServer=smtp_out.bloggs.com
#emailEvents=start,stop,unclose,kill,nofree,dbcrash
#onExceptionCheckSQL=select 1 from dual
numberOfConnectionsToInitializeWith=5